<div class="px-4 py-8 pt-0">
    <a href="{{ routes.collections_url }}" class="text-base N-BlueHoverYellowD-GrayHoverBlack text-center block mt-0 mb-4">Go back to collections</a>
    {% paginate collection.products by section.settings.number_of_products_per_page %}
        <h1 class="text-4xl text-center block mb-16 font-bold " id="ColletionTitel">{{ collection.title }}</h1>
        {% render 'animate-on-scroll-v2', element_id: "ColletionTitel", classes: 'animate__animated,animate__heartBeat' %}

        <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for product in collection.products %}
                    {% comment %} &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& {% endcomment %}
                    {% assign arrange = forloop.index %}
                    {% assign position = arrange | modulo:3 %}
                    {% assign unique_idd = forloop.index %}
                      {% if position == 1  %}
                      <div class="bg-opacity-90 backdrop-blur-lg border border-gray-700 p-1 rounded-3xl text-center  border-bold   opacity-0 mb-32 " id={{unique_idd}} data-custom-attribute="example">
                        {% render 'animate-on-scroll-v2', element_id: unique_idd, classes: 'animate__animated,animate__backInRight,display' %}
                        {% render 'product-card', product_product: product %}
                      </div>
                    
                      {% elsif position == 2 %}
                        <div class="bg-opacity-90 backdrop-blur-50 border border-gray-700 p-1 rounded-3xl text-center  border-bold opacity-0 mb-32 "id={{unique_idd}}>
                        {% render 'animate-on-scroll-v2', element_id: unique_idd, classes: 'display,animate__animated,animate__backInLeft' %}
                        {% render 'product-card', product_product: product %}
                        </div>
                        {% else %}
                          <div class="bg-opacity-90 backdrop-blur-50 border border-gray-700 p-1 rounded-3xl text-center  border-bold opacity-0 mb-32 "id={{unique_idd}}>
                            {% render 'animate-on-scroll-v2', element_id: unique_idd, classes: 'display,animate__animated,animate__backInRight' %}
                          {% render 'product-card', product_product: product %}
                          </div>
                        {% endif %}
                {% else %}
                    <p>There are no products inside of this collection</p>
                {% endfor %}
            </div>
        </div>
        

        {% render 'pagination', pagination: paginate %}
    {% endpaginate %}
</div>

{% schema %}
{
    "name": "Template Collection",
    "settings": [
        {
            "type": "number",
            "id": "number_of_products_per_page",
            "default": 6,
            "label": "Number of products per page"
        }
    ]
}
{% endschema %}